html {
  font-size: 1rem !important;
}

body {
  font-family: "Lato", sans-serif !important;
  background-color: #f7f7f7;
}

.border-red {
  border: 1px solid red;
}

.secondary-heading {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.secondary-heading:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.tertiary-heading {
  text-transform: uppercase;
  font-weight: bold;
}

.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar-sticky {
  background: #28b485;
  opacity: 0.7;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

#home_page .header {
  padding: 0;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#home_page .header h1 {
  backface-visibility: hidden;
}
#home_page .header .main-heading {
  letter-spacing: 27px;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
#home_page .header .main-slogan {
  letter-spacing: 9px;
  animation: moveInRight 1s ease-out;
}
#home_page .header .header-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home_page .section-about {
  margin-top: -20vh;
}
#home_page .section-about .container-img {
  position: relative;
}
#home_page .section-about .container-img-about {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.3s;
  outline-offset: 2rem;
}
#home_page .section-about .container-img-about-1 {
  left: 0;
  top: -2rem;
}
#home_page .section-about .container-img-about-2 {
  right: 0;
  top: 2rem;
}
#home_page .section-about .container-img-about-3 {
  left: 20%;
  top: 10rem;
}
#home_page .section-about .container-img-about:hover {
  outline: 0.5rem solid #7ed56f;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
#home_page .section-about:hover #home_page .section-about-about:not(:hover) {
  transform: scale(0.5);
  border: 5px solid red;
}
#home_page .features-section {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
}
#home_page .features-container {
  transform: skewY(7deg);
}
#home_page .features-box {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
#home_page .features-box-icon {
  font-size: 5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
#home_page .features-box:hover {
  transform: translateY(-1.5rem);
}

.tours-box {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 30rem;
  position: relative;
}
.tours-box-face {
  transition: all 0.8s ease;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}
.tours-box-face-back {
  transform: rotateY(180deg);
  height: 100%;
}
.tours-box:hover .tours-box-face-front {
  transform: rotateY(-180deg);
}
.tours-box:hover .tours-box-face-back {
  transform: rotateY(0deg);
}
.tours-box-back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.tours-box-back-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.tours-box-back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.tours-box-pic {
  background-size: cover;
  height: 15rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.tours-box-pic-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.tours-box-pic-2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url();
}
.tours-box-pic-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url();
}
.tours-box-title {
  text-transform: uppercase;
  color: #fff;
  background-color: #ff7730;
  position: absolute;
  z-index: 20;
  right: 0;
  top: 40%;
}

.btn:link {
  position: relative;
  transition: all 0.3s;
  animation: moveInUp 0.5s ease-out;
  animation-fill-mode: backwards;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.5);
}

.btn-2:link, .btn-2:visited {
  color: #7ed56f;
  position: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  transition: all 0.2s;
}
.btn-2:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-2:active {
  box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
